config/autostart/
config/bsky/
config/btop/
config/cava/
config/cef_user_data/
config/dconf/
config/discord/
config/dolphinrc
config/era/
config/Electron/
config/Element/
config/fcitx/cached_layouts
config/fcitx/dbus/
config/fcitx/skk/user.dict
config/fcitx5/
config/gh/
config/GIMP/
config/google-chrome/
config/granatierrc
config/gtk-2.0/
config/gtk-3.0
config/gtk-4.0
config/guvcview2/
config/htop/
config/htop/
config/ibus/
config/inkscape/
config/kconf_updaterc
config/kdeglobals
config/kde.org/
config/kiorc
config/klanguageoverridesrc
config/kritadisplayrc
config/kritarc
config/light/
config/menus/
config/Mousepad/
config/neofetch/
config/notion-app/
config/nushell/
config/nushell/history.txt
config/nvim/lazy-lock.json
config/nwg-look/
config/pavucontrol.ini
config/pueue/
config/pulse/
config/QtProject.conf
config/ranger/
config/ripgrep-all/
config/session/
config/Slack/
config/systemd/
config/themes/
config/thorium
config/Thunar/
config/trashrc
config/Unknown Organization/
config/vivaldi
config/vlc/
config/voicevox/
config/w3m/
config/xfce4/
config/xsettingsd/
config/zoom.conf
config/zoomus.conf
config/go/
gtkrc-2.0
