config/btop/btop.log
config/themes/
config/cava/
config/dconf/
config/discord/
config/fcitx/dbus/
config/fcitx/cached_layouts
config/gh/
config/google-chrome/
config/gtk-3.0
config/gtk-4.0
config/ibus/
config/light/
config/Mousepad/
config/Slack/
config/Thunar/
config/pavucontrol.ini
config/pulse/
config/ranger/
config/neofetch/
config/notion-app/
config/nvim/lazy-lock.json
config/vivaldi
config/xfce4/
config/htop/
config/cef_user_data/
config/granatierrc
config/htop/
config/nushell/
config/nwg-look/
config/voicevox/
config/zoom.conf
config/zoomus.conf
config/Unknown Organization/
config/nushell/history.txt
config/QtProject.conf
config/Element/
config/guvcview2/
config/vlc/
config/inkscape/
config/kritarc
config/kritadisplayrc
config/klanguageoverridesrc
gtkrc-2.0
config/autostart/
config/dolphinrc
config/kde.org/
config/session/
config/GIMP/
config/gtk-2.0/
config/menus/
config/thorium
config/ripgrep-all/
config/Electron/
config/kconf_updaterc
config/kdeglobals
config/kiorc
config/trashrc
